<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>自定义字体和切换字体</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>获取公众号粉丝的头像</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抓取维基词条图片</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>定位现在的位置</string>
		<key>icon</key>
		<string>battlenet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>播放本地视频</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>下拉刷新</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>播放音乐及颜色渐变</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>视频作为背景的登录页</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>走马灯式的卡片浏览</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图片浏览效果</string>
		<key>icon</key>
		<string>battlenet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>具有动画校验的登录页</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>动画效果表单</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抽奖老虎机</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>点赞按钮特效</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>battlenet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>battlenet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demo</string>
		<key>icon</key>
		<string>blizzard</string>
	</dict>
</array>
</plist>
